@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
@color-orange: #ff3300;
@color-gray_light: #cccccc;
@color-white: #ffffff;
@color-black: #000000;
@color-green: #339933;
@const: 3px;

.gray_light {
	color: @color-gray_light;
}

.orange {
	color: @color-orange;
}

.white {
	color: @color-white;
}

.green {
	color: @color-green;
}

.b-color-white {
	background-color: @color-white;
}

.b-color-gray_light {
	background-color: @color-gray_light;
}

.b-color-orange {
	background-color: @color-orange;
}

.b-color-green {
	background-color: @color-green;
}

body {
	.b-color-gray_light;
	font-family: "Ubuntu";
	font-size: 14px;
	color: @color-black;

	p {
		padding-top: @const;
	}

	.btn {
		font-size: @const * 4;
		font-weight: bold;
		border-radius: 0;
		max-width: @const * 55
	}

	.pn {
		padding: 0;
	}

	header {
		.b-color-white;
		padding: 20px 0;
		margin-bottom: @const * 10;
		.orange;

		.glyphicon-user {
			padding: @const;
			.b-color-gray_light;
			.white;
		}
	}

	section {

		.add-task {
			margin-bottom: @const * 10;
			.white;
		}

		.bgcw {
			.b-color-white;
			padding: @const * 6 0  @const * 3;
			margin: 1px 0;
		}

		.pl {
			padding-left: @const * 10;
		}

		ul {
			padding-left: @const * 4;
		}

		h1 {
			margin: 0 0 @const * 10;
			font-size: @const * 10;
			font-weight: bold;
			line-height: 1.1;
		}

		.glyphicon-flash {
			font-size: @const * 10;
			padding: @const;
			.b-color-white;
			.gray_light;
		}

		h2 {
			margin: @const * 2 0 @const * 4;
			font-size: @const * 7;
			line-height: 1.7;
		}

		.add {
			margin-right: @const * 10;

			.glyphicon-plus {
				font-size: @const * 3;
				margin-top: @const * 5;
				padding: 1px 1px 2px 2px;
				.b-color-orange;
			}
		}

		select {
			height: @const * 11;
			min-width: @const * 50;
			margin-left: @const * 5;
			box-shadow: none;
		}

		.search {
			max-width: 270px;
			margin: 0 @const * 15;

			.form-control, span {
				border-radius: 0;
			}

			.input-group-addon {
				background-color: transparent;
				.gray_light;
			}

			input {
				border-right: 0;
			}

			input:focus {
				border-color: @color-gray_light;
				box-shadow: none;
			}
		}

		.table-responsive {
			padding-right: @const * 10;
		}

		table {
			border-top: 1px solid #ddd;
			margin-top: @const * 6;
		}

		thead {
			color: @color-gray_light;
		}

		td img {
			vertical-align: baseline;
		}

		.circle {
			border: 1px solid;
			border-radius: 50%;
			border-color: transparent;
			height: @const * 2;
			width: @const * 2;
			margin-top: @const + 5;
		}

		.pagination {
			border-radius: 0;
			margin: @const * 3 0;

			> .active > a, .active > a:hover {
				.b-color-orange;
				border-color: @color-orange;
			}

			> li {
				.b-color-gray_light;

				> a {
					.b-color-gray_light;
					.white;
					margin-right: @const * 3;
					font-size: @const * 5;
					border-radius: 0;
				}

				> a:hover {
					border-color: @color-orange;
					.orange;
				}
			}
		}

		.pagination-sm {

			> li > a {
				padding: 1px @const * 3;
			}

			> li:last-child > a, > li:first-child > a {
				border-radius: 0;
			}
		}

		a:focus, a:hover {
			text-decoration: none;
		}

		.btn-link {
			padding: 0;
			margin-left: @const * 2;
			font-size: 14px;
			font-weight: normal;
		}

		.paging > .btn.focus, .btn:focus, .btn:hover, .btn-link.active, .btn-link:active {
			font-weight: bold;
			color: @color-black;
			text-decoration: none;
		}
	}

	footer {
		margin-top: @const * 10;

		.contact div {
			display: flex;
			flex-direction: row;

			div {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				padding: @const * 26 @const * 20;
				text-transform: uppercase;

				h3 {
					font-weight: bold;
					margin: 0;
				}

				p {
					margin: @const * 7 0;
					font-size: @const * 6;
					line-height: 1.7;
				}

				.btn {
					padding-top: @const * 3;
					padding-bottom: @const * 3;
				}
			}
		}

		.copyright {
			margin-top: @const * 15;
			margin-bottom: @const * 15;

			.gray {
				color: #666666;
			}

			p {
				font-size: 13px;
				line-height: 1.8
			}

			a {
				margin-left: @const * 5;
			}
		}
	}
}