<!doctype html>
<html lang="ru" ng-app="taskApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Тестовое задание</title>
		
		<link rel="stylesheet" href="libs/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>
	<body ng-controller="TaskCtrl">
		<header class="container-fluid">
			<div class="container">
				<div class="col-md-2 col-lg-2">
					<a href=""><img src="img/logo_ru.png" alt=""></a>
				</div>

				<div class="col-md-2 col-lg-2">
					<p>Barcelona Design <span class="caret gray_light"></span></p>
				</div>

				<div class="col-md-offset-6 col-md-2 col-lg-offset-6 col-lg-2">
					<p><span class="glyphicon glyphicon-user white" aria-hidden="true"></span> Petr_Osmanov <span class="caret gray_light"></span></p>
				</div>
			</div><!--/.container-->
		</header><!--/.container-fluid-->
		
		<section class="container">
			<div class="col-md-2 col-lg-2">
				<div class="add-task">
					<button type="button" class="btn btn-danger btn-lg btn-block b-color-orange text-uppercase">Добавить задачу</button>
				</div>

				<div>
					<div class="pl bgcw">
						<p class="text-uppercase gray_light">Сводная информация</p>
					</div>

					<div class="pl bgcw">
						<p><strong>Все задачи</strong></p>
						<ul class="orange" type="square">
							<li>Открытые</li>
							<li>Выполненные</li>
						</ul>
					</div>

					<div class="pl bgcw">
						<p class="orange"><strong>Отчеты</strong></p>
					</div>
				</div>
			</div>

			<div class="col-md-10 col-lg-10">
				<div>
					<h1><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Barcelona Design <span class="caret"></span></h1>
				</div>

				<div>
					<div class="pl bgcw clearfix">
						<div class="pull-left">
							<h2>Открытые задачи <span class="gray_light">{{tasks.length}}</span></h2>
						</div>
						<div class="pull-right text-right">
							<p class="add orange"><span class="glyphicon glyphicon-plus white" aria-hidden="true"></span> Добавить задачу</p>
						</div>
					</div>

					<div class="pl bgcw">
						<div class="row">
							<div class="pull-left">
								<select>
									<option value="">Декабрь, 2015</option>
									<option value="">Что именно</option>
									<option value="">должна</option>
									<option value="">фильтровать</option>
									<option value="">эта кнопка?</option>
								</select>
							</div>

							<div class="pull-left">
								<select ng-model="openTasks">
									<option value="">Показать всё</option>
									<option value="{{task.status}}" ng-repeat="task in tasks | unique:'status'" ng-click="showMore(tasks.length)">{{task.status}}</option>
								</select>
							</div>

							<div class="pull-right">
								<div class="input-group search">
									<input class="form-control" type="text" placeholder="Поиск задач по проекту" ng-model="query">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-search"></span>
									</span>
								</div><!-- /input-group -->
							</div>
						</div><!--/.row-->

						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<td>Т</td>
										<td>Тикет</td>
										<td>Название</td>
										<td ng-click="sortType = 'p'; sortReverse = !sortReverse">
											<a class="gray_light" href="#" ng-show="sortType == !'p' || !sortReverse">П <span class="caret"></span></a>
											<a class="gray_light dropup" href="#" ng-show="sortType == 'p' && sortReverse">П <span class="caret"></span></a>
										</td>
										<td>Статус</td>
										<td>Решение</td>
										<td>Создано</td>
										<td>Обновлено</td>
										<td>Дедлайн</td>
										<td></td>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td colspan="6">
											<ul class="pagination-sm paging" uib-pagination direction-links="false" total-items="tasks.length*10/numPerPage" ng-model="currentPage" max-size="maxSize" boundary-link="true" boundary-link-numbers="true"></ul>
											</div>
										</td>
										<td colspan="4">
											<p><span class="gray_light">Количество задач: </span>
											<button type="button" class="btn btn-link active" ng-click="showMore(20)">20</button>
											<button type="button" class="btn btn-link" ng-click="showMore(50)">50</button>
											<button type="button" class="btn btn-link" ng-click="showMore(100)">100</button>
											<button type="button" class="btn btn-link" ng-click="showMore(tasks.length)">все</button></p>
										</td>
									</tr>
								</tfoot>
								<tbody>
									<tr ng-repeat="task in filteredTasks | filter : openTasks : query | orderBy : sortType : sortReverse"">
										<td><img src="img/{{task.t}}.png" alt=""></td>
										<td>{{task.tiket}}</td>
										<td>{{task.name}}</td>
										<td>
											<!-- <span class="glyphicon glyphicon-circle" aria-hidden="true"></span> -->
											<!--  {{task.p | replaceCircle}} -->
											<div class="circle b-color-{{task.p | replaceCircle}}"></div>
										</td>
										<td>{{task.status}}</td>
										<td>{{task.solut}}</td>
										<td>{{task.add | date:'MMMM-yyyy'}}</td>
										<td>{{task.update}}</td>
										<td>{{task.deadline}}</td>
										<td><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section><!--/.container-->
		
		<footer>
			<div class="container contact">
				<div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
					<div class="b-color-orange white pull-left">
						<h3>Возникли вопросы?</h3>
						<p>Воспользуйтесь формой отправки заявки и мы свяжемся с вами</p>
						<button type="button" class="btn btn-default b-color-white text-uppercase">Оставить заявку</button>
					</div>
					<div class="b-color-white">
						<h3>Или свяжитесь с нами напрямую:</h3>
						<p>г. Москва ул. Викторенко д. 11<br>
						+7 (499) 502-81-39<br>
						<a href="mailto:order@trendsoft.ru">order@trendsoft.ru</a></p>
					</div>
				</div>
			</div><!--/.container-->

			<div class="container copyright">
				<div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
					<div class="col-md-4 col-lg-4 pn">
						<p class="gray">© ООО «Трендсофт», 2011-2015</p>
					</div>
					<div class="col-md-4 col-lg-4 pn">
						<p>+7 (499) 502-81-39</p>
					</div>
					<div class="col-md-4 col-lg-4 pn text-right">
						<a href=""><img src="img/fb.png" alt="fb"></a>
						<a href=""><img src="img/vk.png" alt="vk"></a>
					</div>
				</div>
			</div><!--/.container-->
		</footer>

		<!-- Jquery.js core JavaScript -->
		<script src="libs/jquery.min.js"></script>

		<!-- Angular.js core JavaScript -->
		<script src="libs/angular.min.js"></script>
		<script src="libs/angular-bootstrap-tpls.min.js"></script>
		<script src="libs/angular-filter.min.js"></script>
		<script src="js/controllers.js"></script>
	</body>
</html>
